<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oastore.mapper.EmployeeMapper">
    <select id="search" resultType="com.oastore.pojo.Employee">
        select * from employee
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findByName" resultType="com.oastore.pojo.Employee">
        SELECT * FROM employee
        <where>
            username like
            concat('%','${username}','%');
        </where>
    </select>

</mapper>